bot:
  # 网站地址
  website: https://awesomeV2Board.com
  # 订阅地址
  sublink: https://awesomeV2Board.com
  # Bot Token
  token: 123456789:gaefadklwdqojdoiqwjdiwqdo
  # 管理员ID、可以额外增加
  admin_id:
    - 0
    - 0
  # 群租ID
  group_id: 0
  # 自动删除时间，如果Bot可删信息
  delete_time: 30
v2board:
  database:
    # 数据库信息
    ip: 127.0.0.1
    port: 3306
    user: root
    pass: password
    name: database
  ssh:
    # SSH 信息 false：默认关闭，true为启用
    enable: false
    # 连接类型支持 passwd / pkey，若使用私钥请放置私钥到根目录
    type: passwd
    ip: 127.0.0.1
    port: 22
    user: root
    pass: password
    keyfile: sshkey.pem
    keypass: ''